<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.movie.infrastructure.mapper.CategoryVideoMapper">
  <resultMap id="BaseResultMap" type="com.sky.movie.infrastructure.domain.CategoryVideo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="videoId" jdbcType="INTEGER" property="videoId" />
    <result column="categoryId" jdbcType="INTEGER" property="categoryId" />
  </resultMap>
</mapper>